@import "../../assets/styles/variables.styles.scss";
@import "../../assets/styles/mixins.styles.scss";

.page-container__intro-container {
  width: 100%;
  min-height: calc(100vh);

  display: flex;
  justify-content: center;
  align-items: center;

  .intro-container__center-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    @media screen and (max-width: 750px) {
      gap: 1rem;
    }

    .center-container__pre-intro {
      font-family: $font-mono;
      color: $light-dark;
      font-size: 1.25rem;

      @media screen and (max-width: 1000px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 750px) {
        font-size: 0.75rem;
      }
    }

    .center-container__name {
      font-family: $font-text;
      color: $dark;
      font-size: 6rem;
      font-weight: 500;

      @media screen and (max-width: 1000px) {
        font-size: 4rem;
      }
      @media screen and (max-width: 750px) {
        font-size: 3rem;
      }
      @media screen and (max-width: 450px) {
        font-size: 2.5rem;
      }
    }

    .center-container__job {
      font-family: $font-text;
      color: $light-dark;
      font-size: 5rem;
      font-weight: 500;
      @media screen and (max-width: 1000px) {
        font-size: 3rem;
      }
      @media screen and (max-width: 750px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 450px) {
        font-size: 1.5rem;
      }
    }

    .center-container__personal-description {
      @include large-text;
    }

    .link-button {
      font-family: "Barlow", sans-serif;
      font-weight: 500;
      font-size: 1.25rem;

      display: flex;
      justify-content: center;
      position: relative;

      padding: 0.75rem 1.25rem;
      border: 0.15rem solid $dark;
      box-shadow: 0rem 0.225rem 0rem 0rem #272727;
      border-radius: 0.35rem;

      color: $dark;
      display: inline-block;

      &:hover {
        cursor: pointer;
      }

      &:active {
        cursor: pointer;

        box-shadow: 0rem 0rem 0rem 0rem #272727;
      }

      @media screen and (max-width: 750px) {
        font-size: 0.85rem;
        padding: 0.5rem 1rem;
      }

      @media screen and (max-width: 450px) {
      }
    }
  }
}
