@import "../../assets/styles/variables.styles.scss";
@import "../../assets/styles/mixins.styles.scss";

.page-container__about-me-container {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  .about-me-container__center-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
    }

    .center-container__left-container {
      .left-container__about-heading {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        > h2 {
          font-family: $font-text;
          color: $dark;
          font-size: 2rem;
          min-width: 14rem;

          > span {
            font-family: $font-mono;
            color: $light-dark;
          }
        }

        .about-heading__divider {
          height: 0.2rem;
          background-color: $light-dark;
          margin: 0 1rem;
          flex-grow: 1;
        }
      }

      @media screen and (max-width: 1000px) {
        .left-container__about-heading {
          > h2 {
            font-size: 1.75rem;
            min-width: 12rem;
          }
        }
      }
      @media screen and (max-width: 750px) {
        .left-container__about-heading {
          > h2 {
            font-size: 1.5rem;
            min-width: 10rem;
          }
        }
      }

      p {
        @include large-text;
        max-width: none;
        a {
          text-decoration: none;
          color: $dark;
          font-weight: 500;
          transition: transform 0.1s ease-in-out;
        }
      }
    }

    .center-container__right-container {
      .right-container__image-highlight {
        min-width: 300px;
        min-height: 300px;
        border: 0.25rem solid $light-dark;
        border-radius: 0.25rem;
        position: relative;
        margin-top: 1rem;
        img {
          position: absolute;
          top: 1.5rem;
          left: 1.5rem;
          max-width: 300px;
          object-fit: cover;
          filter: grayscale(100%);
          border-radius: 0.25rem;
          transition: top 0.1s ease-in-out, left 0.1s ease-in-out,
            filter 0.1s ease-in-out;

          @media screen and (max-width: 450px) {
            top: 1.25rem;
            left: 1.25rem;
          }
          @media screen and (max-width: 350px) {
            top: 1rem;
            left: 1rem;
          }
        }

        &:hover {
          img {
            filter: grayscale(0%);
            top: 1rem;
            left: 1rem;

            @media screen and (max-width: 450px) {
              top: 0.75rem;
              left: 0.75rem;
            }
            @media screen and (max-width: 350px) {
              top: 0.65rem;
              left: 0.65rem;
            }
          }
        }

        @media screen and (max-width: 450px) {
          min-width: 250px;
          min-height: 250px;
          img {
            max-width: 250px;
          }
        }
        @media screen and (max-width: 375px) {
          min-width: 200px;
          min-height: 200px;
          img {
            max-width: 200px;
          }
        }
      }
    }
  }
}
